<style  type="text/css"> 
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}


}

</style>

<b><center>
    <span style="font-size: 24pt; line-height: 1.2;">COMS W4111: Introduction to Databases</span>
</center></b>
<br><br>
<i><center>
<span style="font-size: 20pt; line-height: 1.2;">Lecture 2: Fundamental Concepts: Data Models, ER Models, Relational Model, SQL
</center></i>

__Notes to Instructor:__

1. Add autonomous vehicle data example, including 5 Vs and sizes.

__Note:__ Modifying width of cells for wider displays.

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))
display(HTML("<style>.output_result { max-width:80% !important; }</style>"))
display(HTML("<style>.prompt { display:none !important; }</style>"))

# Lecture Topics

1. Piazza questions.<br><br>
2. Data Concepts.<br><br>
2. Entity-Relationship Model, Part 1.<br><br>
3. Relational Model, Part 1.<br><br>
4. SQL, Part 1.<br><br>
5. HW 1.

# Piazza and other Questions
<br>

## "Conceptually Understanding what is going in the non-programming HW1"
<br>

@95<br><br>

"I don't have any difficulty in doing the assignment, but I am conceptually not completely able to understand what is happening.

We installed two packages - ipython-sql and pymysql. Then there is something called SQLite keyword in the notebook, which I believe is different from sqlite3 that we've imported.

I am confused because each one of these words has a 'SQL' embedded in them. Then I am not clear where is the database, is there a network, is host, and the destination computer operating on the host. Which one is the database, which one is the dbms, which one is a library, what is the library using at the back?

To complicate it further, we installed MySQL, MySQL Workbench, and MySQL server. Is all this anyhow related to the libraries/services we're using in the notebook?

I would appreciate it if someone can explain that kind of idea. (The diagram professor drew in recitation to explain localhost, the daemon was very helpful)

Thanks a lot"

__Answer__

<img src="../../images/sqlite_and_notebook.png">

## Purpose of HW 1

<br>

<hr>

| <img src="../../images/hw1_problem.png"> |
| :---: |
| __Sample Problem with HW 1__ |

<hr>

- My section of W4111 is more "hands on, problem oriented" than other sections. The slightly different focus derives from my background.<br><br>
- Many students know the focus and choose the section for that reason.<br><br>
- Students in disciplines for which they thought "hands on" was not applicable have later told me that the skills were useful in internships, interviews, etc.<br><br>
- Hands on means "hands on, and getting some dirt on your hands." I want to get this out of the way now, and not 12 hours before you have another homework or exam due.

<br>

## Independence and Initiative

<br>

<hr>

| <img src="../../images/piazza_lazy.png"> |
| :---: |
| __Independence and Initiative__ |

<hr>

<br>

- "Here we go ... ..." <br><br>

- You will ask questions on Piazza. Many, many times, you could have solved the problem with:
    - A simple search on Piazza because we have already answered the question 5 times.
    - I will answer the question by posting Google search results and then mock you for not doing this yourself.
<br><br>

- When you leave school, if you do this in your job, you will look lazy and unprofessional. <br><br>

## Homework Clarity

- Some students in this class will complain about the vagueness of homework specifications.<br><br>
- Most other classes specify homework requirements and formats in absurd detail. In many cases, the class leaders do this to make _their job easier_ and not to make your job easier.<br><br>
- Your work and internship assignments will not treat you this way, i.e. "like children."<br><br>
- I mention the complains to my colleagues and show the assignment definition. They burst into hysterical laughter.<br><br>
- This is how things work in reality:

<br>

<hr>

| <img src="../../images/mauve.png" width="900px;"> |
| :---: |
| __Reality S*cks__ |

<br>

- Also,
    - I will ask you to write queries and "describe" the answer I want.
    - You will ask if I can provide a concrete sample.
    - If I am your manager at work and you ask me that question, I will respond.
        - "The only way I can produce an example is to write the query."
        - "If I have to write the query, I do not need you."<br><br>

- I used to ask the students to read "A Message to Garcia."<br><br> Like most things from my generation, the story is "bad in many ways." I do not do it anymore. But, here is snippet.

<br>

```You, reader, put this matter to a test: You are sitting now in your office—six clerks are
within your call. Summon any one and make this request: “Please look in the encyclopedia
and make a brief memorandum for me concerning the life of Corregio.”
Will the clerk quietly say, “Yes, sir,” and go do the task?
On your life, he will not. He will look at you out of a fishy eye, and ask one or more of
the following questions:
    Who was he?
    Which encyclopedia?
    Where is the encyclopedia?
    Was I hired for that?
    Don’t you mean Bismarck?
    What’s the matter with Charlie doing it?
    Is he dead?
    Is there any hurry?
    Shan’t I bring you the book and let you look it up yourself?
    What do you want to know for?```
    
<br>

- Don't be that guy.<br><br>

# Data Concepts

## Some Ways to Think about Data

<br><br>

### Structured vs Unstructured

| <img src="../../images/datastructure.jpg" width="900px"> |
| :--------: |
| __Structured vs Unstructured__ |

### Structured Data

- High degree of organization.


- All records for a given type have
    - The same fields.
    - The fields are strongly typed.
    - There are _integrity constraints_ on values, e.g. __NOT NULL.__
    
    
- The _relational model_ is the canonical example.
    - The data is __structured,__ which means you must define the structure $\Rightarrow$ there is a __data definition language (DDL).
    - __  A DDL is similar to defining a class in Java, C++ or Python.
    - Instances of data (rows, tuples) must match the DDL in the same way objects match the class definition.
    - The Relational Model has additional capabilities:
        - Integrity constraints, e.g. ```NOT NULL.``` _Primary Key_ means that the $student\_id$ is ```NOT NULL``` and ```UNIQUE.```
        - Referential Integrity:  For every _Grade_ row, there must be one row with a matching $student\_id$ in _Students._
        - Indexes: There is an auxiliary data structure that speeds up locating students using name fields.

In [2]:
import pymysql
%load_ext sql
%sql mysql+pymysql://root:dbuserdbuser@localhost/AAF20W4111

'Connected: root@AAF20W4111'

In [3]:
%sql use aaBookDB;

 * mysql+pymysql://root:***@localhost/AAF20W4111
0 rows affected.

[]

In [4]:
%sql select * from student

 * mysql+pymysql://root:***@localhost/AAF20W4111
13 rows affected.

[('00128', 'Zhang', 'Comp. Sci.', Decimal('102')),
 ('12345', 'Shankar', 'Comp. Sci.', Decimal('32')),
 ('19991', 'Brandt', 'History', Decimal('80')),
 ('23121', 'Chavez', 'Finance', Decimal('110')),
 ('44553', 'Peltier', 'Physics', Decimal('56')),
 ('45678', 'Levy', 'Physics', Decimal('46')),
 ('54321', 'Williams', 'Comp. Sci.', Decimal('54')),
 ('55739', 'Sanchez', 'Music', Decimal('38')),
 ('70557', 'Snow', 'Physics', Decimal('0')),
 ('76543', 'Brown', 'Comp. Sci.', Decimal('58')),
 ('76653', 'Aoi', 'Elec. Eng.', Decimal('60')),
 ('98765', 'Bourikas', 'Elec. Eng.', Decimal('98')),
 ('98988', 'Tanaka', 'Biology', Decimal('120'))]

- The data is very structured, tabular, etc.

### Semi-structured Data

- There are records with fields.


- You can parse the data to extract records and fields into data structures.


- Records may have some common fields, but any record may have any fields of any types.


- Documents are the canonical example:


- There are common structural concepts: headers, lists, footnotes, etc.


- But different documents have different combinations, nesting, etc.


- CouchDB is an example of a document database. It stores semi-structured JSON documents. Other examples are MongoDB, DynamoDB, ... ...


- JSON Example:

```
{
    "quiz": {
        "sport": {
            "q1": {
                "question": "Which one is a correct team name in NBA?",
                "options": [
                    "New York Bulls",
                    "Los Angeles Kings",
                    "Golden State Warriors",
                    "Huston Rocket"
                ],
                "answer": "Houston Rocket"
            }
        },
        "maths": {
            "q1": {
                "question": "5 + 7 = ?",
                "options": [
                    "10",
                    "11",
                    "12",
                    "13"
                ],
                "answer": "12"
            },
            "q2": {
                "question": "12 - 8 = ?",
                "options": [
                    "1",
                    "2",
                    "3",
                    "4"
                ],
                "answer": "4"
            }
        }
    }
}
```

- There is a basic structure.


- The list of attributes and the values are flexible.


- Application logic implements more functionality, like data correctness.


- The documents you insert effectively defines the schema.

<hr style="height:2px">
<img src="../../images/semi_structured_couchdb.png">
<hr src="height:2px;">

### Unstructured

- No explicit records or delimiters. No fields. No properties.


- Just a sequence of characters/bytes that can be interpreted by some processing engine.


- Images, audio files, etc. are examples.

| <img src="../../images/image_file_data.jpg" width="1200px;"> |
| :---: |
| __Unstructured Data__ |

### Course Focus

- We will focus on structured data and some on semi-structured. 


- Need to constrain the scope for a one semester class.


- Structured data concepts are foundational and apply to semi-structured and unstructured data.


- Unstructured data scenarios often require extracting or extending with structured data.

## Data and Metadata

- Metadata is "data information that provides information about other data". Three distinct types of metadata exist:
    1. Descriptive metadata
    2. Structural metadata
    3. Administrative metadata.
    
    
- Descriptive metadata describes a resource for purposes such as discovery and identification. It can include elements such as title, abstract, author, and keywords.


- Structural metadata is metadata about containers of data and indicates how compound objects are put together, for example, how pages are ordered to form chapters. It describes the types, versions, relationships and other characteristics of digital materials.


- Administrative metadata provides information to help manage a resource, such as when and how it was created, file type and other technical information, and who can access it.


- We will cover metadata, especially while studying relational data.


- Reflection in Java, Python, etc. is another example of metadata.

__Examples__

<u>Tell me about a Student</u>

In [5]:
%sql describe student;

 * mysql+pymysql://root:***@localhost/AAF20W4111
4 rows affected.

[('ID', 'varchar(5)', 'NO', 'PRI', None, ''),
 ('name', 'varchar(20)', 'NO', '', None, ''),
 ('dept_name', 'varchar(20)', 'YES', 'MUL', None, ''),
 ('tot_cred', 'decimal(3,0)', 'YES', '', None, '')]

<br>
Python:<br><br>

In [ ]:
import pandas as pd

print("What are the properties of Pandas?\n", dir(pd))

In [5]:
df = pd.read_csv("../../data/countries.csv")
df

      id                                name alpha2 alpha3
0      4                         Afghanistan     af    afg
1      8                             Albania     al    alb
2     12                             Algeria     dz    dza
3     20                             Andorra     ad    and
4     24                              Angola     ao    ago
..   ...                                 ...    ...    ...
188  862  Venezuela (Bolivarian Republic of)     ve    ven
189  704                            Viet Nam     vn    vnm
190  887                               Yemen     ye    yem
191  894                              Zambia     zm    zmb
192  716                            Zimbabwe     zw    zwe

[193 rows x 4 columns]

In [6]:
df.columns

Index(['id', 'name', 'alpha2', 'alpha3'], dtype='object')

## Data Explosion


| <img src="../../images/datasize.png">|
| :---: |
| __Data Explosion__ |

- The world's total, yearly data creation will reach [163 zettabytes in 2025.](https://www.forbes.com/sites/andrewcave/2017/04/13/what-will-we-do-when-the-worlds-data-hits-163-zettabytes-in-2025/#43b56b37349a)


- __DANGER:__ Math before caffeine.


- Zettabyte is $1000^7 = 10^{21}.$ 


- World's population is/will be approximately $10 * 10^{9} = 10^{10}$


- Data per person in 2025 = <br><br>
\begin{equation}
\frac{1.63 * 10^2 * 10^{21}}{10^{10}} = \frac{1.63 * 10^{23}}{10^{10}} = 1.63 * 10^{13} = 16.3*10^{12} = 16.3*10^{3}*10^{9} = 16000\ GB \ per \ person, \ per \ year.
\end{equation}


- In 2025, "an average connected person anywhere in the world will interact with connected devices nearly 4,800 times per day – one interaction every 18 seconds." [Forbes](https://www.forbes.com/sites/andrewcave/2017/04/13/what-will-we-do-when-the-worlds-data-hits-163-zettabytes-in-2025/#43b56b37349a). Each interaction creates new data.

### The Four Vs


| <img src="../../images/forvs.jpg" width="900px"> |
| :---: |
| __Four Vs of Data__ |

Some driving factors:
- Volume:
    - File/instance size: videos, images, VR, ...
    - Sources: Internet-of-Things, events and monitoring, ...
    
    
- Velocity:
    - Monitoring and events from everything.
    - Video and audio from everywhere.
    

- Veracity:
    - Measurement error and approximation.
    - Incorrect configuration, entry, processing applications.
    
    
- Variety:
    - Base types: several base models for structured data.
    - Every device emits its own event format.
    - Multiple encodings and formats of text (mail, web page, tweet) audio, video, ...


| <img src="../../images/fives.jpg" width="800px"> |
| :---: |
| Five Vs |


- __Value: "It's like trying to find a needle in a haystack size pile of needles."__

### Big data landscape

| <img src="../../images/landscape.png" width="1200px"> |
| :---: |
| [Big Data Landscape](http://mattturck.com/bigdata2018/) |

- There are many, many, many different kinds of database management systems. The differences are:
    - Type of data: tables, documents, images, complex design models, ...
    - Use case optimizations: ready only/query, business transactions, realtime data sharing, ...
    - Deployment scenarios: mobile device, application embedded, high-performance cloud, ...
    
    
- We will go through a few representative databases in this course.



| <img src="../../images/coms4111-slides-90.jpg"> |
| :---: |
| __DBMS Taxonomy__ |

# Entity Relationship Modeling, Part 1

__Lecture Material -- Switch to PowerPoint__

# Relational Model, Part 1

__Lecture Material -- Switch to PowerPoint__

# Structured Query Language, Part 1

## Lecture Material

## Examples

# Let's Do Some Real Work

<br><br>
- The same university database is trivial and icky. Let's try to build a better one.

__Note:__ This will be an interactivem hands-on demo.

# Homework 1, Part 1